.about-container {
  background-color: rgb(13, 13, 123);
  padding: 50px 20px;
  display: flex;
  justify-content: center;
}
.about-content {
  display: flex;
  flex-direction: row; 
  align-items: center;
  gap: 40px;
  max-width: 1000px;
  width: 100%;
}
.about-text {
  flex: 1;
  text-align: left;
}
.about-text h1 {
  font-size: 28px;
  font-weight: bold;
  color: white;
  margin-bottom: 15px;
}
.about-text p {
  color: white;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-btn {
  background-color: #3b82f6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.about-btn:hover {
  background-color: black;
}
.about-cards {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
}
.card {
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ) !important;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
}

.card h2 {
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}

.card p {
  color: white;
}
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-text {
    text-align: center;
  }

  .about-cards {
    grid-template-columns: 1fr;
  }
}
.logos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
}

.logos-container img {
  width: 100px; 
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0px;
}
@media (max-width: 768px) {
  .logos-container img {
    width: 80px;
  }
}
@media (max-width: 480px) {
  .logos-container img {
    width: 60px;
  }
}
